// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

@import 'material-design-icon';

//Font icon
.material-icons {
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.action-bar {
	background-color: #ffffff;
	border-color: #f5f5f5;
	font-size: 20;
}

.color_blue {
  color: #30bcff;
}
.color_blue:focus,
.color_blue.focus {
  color: #30bcff;
}
.color_blue:hover {
	color: #30bcff;
}
.color_blue:active,
.color_blue.active {
  color: #30bcff;
}
.color_blue:active:hover,
.color_blue.active:hover,
.color_blue:active:focus,
.color_blue.active:focus,
.color_blue:active.focus,
.color_blue.active.focus {
  color: #30bcff;
}