.3d-rotation:before {
  content: "\ue84d";
}

.ac-unit:before {
  content: "\ueb3b";
}

.access-alarm:before {
  content: "\ue190";
}

.access-alarms:before {
  content: "\ue191";
}

.access-time:before {
  content: "\ue192";
}

.accessibility:before {
  content: "\ue84e";
}

.accessible:before {
  content: "\ue914";
}

.account-balance:before {
  content: "\ue84f";
}

.account-balance-wallet:before {
  content: "\ue850";
}

.account-box:before {
  content: "\ue851";
}

.account-circle:before {
  content: "\ue853";
}

.adb:before {
  content: "\ue60e";
}

.add:before {
  content: "\ue145";
}

.add-a-photo:before {
  content: "\ue439";
}

.add-alarm:before {
  content: "\ue193";
}

.add-alert:before {
  content: "\ue003";
}

.add-box:before {
  content: "\ue146";
}

.add-circle:before {
  content: "\ue147";
}

.add-circle-outline:before {
  content: "\ue148";
}

.add-location:before {
  content: "\ue567";
}

.add-shopping-cart:before {
  content: "\ue854";
}

.add-to-photos:before {
  content: "\ue39d";
}

.add-to-queue:before {
  content: "\ue05c";
}

.adjust:before {
  content: "\ue39e";
}

.airline-seat-flat:before {
  content: "\ue630";
}

.airline-seat-flat-angled:before {
  content: "\ue631";
}

.airline-seat-individual-suite:before {
  content: "\ue632";
}

.airline-seat-legroom-extra:before {
  content: "\ue633";
}

.airline-seat-legroom-normal:before {
  content: "\ue634";
}

.airline-seat-legroom-reduced:before {
  content: "\ue635";
}

.airline-seat-recline-extra:before {
  content: "\ue636";
}

.airline-seat-recline-normal:before {
  content: "\ue637";
}

.airplanemode-active:before {
  content: "\ue195";
}

.airplanemode-inactive:before {
  content: "\ue194";
}

.airplay:before {
  content: "\ue055";
}

.airport-shuttle:before {
  content: "\ueb3c";
}

.alarm:before {
  content: "\ue855";
}

.alarm-add:before {
  content: "\ue856";
}

.alarm-off:before {
  content: "\ue857";
}

.alarm-on:before {
  content: "\ue858";
}

.album:before {
  content: "\ue019";
}

.all-inclusive:before {
  content: "\ueb3d";
}

.all-out:before {
  content: "\ue90b";
}

.android:before {
  content: "\ue859";
}

.announcement:before {
  content: "\ue85a";
}

.apps:before {
  content: "\ue5c3";
}

.archive:before {
  content: "\ue149";
}

.arrow-back:before {
  content: "\ue5c4";
}

.arrow-downward:before {
  content: "\ue5db";
}

.arrow-drop-down:before {
  content: "\ue5c5";
}

.arrow-drop-down-circle:before {
  content: "\ue5c6";
}

.arrow-drop-up:before {
  content: "\ue5c7";
}

.arrow-forward:before {
  content: "\ue5c8";
}

.arrow-upward:before {
  content: "\ue5d8";
}

.art-track:before {
  content: "\ue060";
}

.aspect-ratio:before {
  content: "\ue85b";
}

.assessment:before {
  content: "\ue85c";
}

.assignment:before {
  content: "\ue85d";
}

.assignment-ind:before {
  content: "\ue85e";
}

.assignment-late:before {
  content: "\ue85f";
}

.assignment-return:before {
  content: "\ue860";
}

.assignment-returned:before {
  content: "\ue861";
}

.assignment-turned-in:before {
  content: "\ue862";
}

.assistant:before {
  content: "\ue39f";
}

.assistant-photo:before {
  content: "\ue3a0";
}

.attach-file:before {
  content: "\ue226";
}

.attach-money:before {
  content: "\ue227";
}

.attachment:before {
  content: "\ue2bc";
}

.audiotrack:before {
  content: "\ue3a1";
}

.autorenew:before {
  content: "\ue863";
}

.av-timer:before {
  content: "\ue01b";
}

.backspace:before {
  content: "\ue14a";
}

.backup:before {
  content: "\ue864";
}

.battery-alert:before {
  content: "\ue19c";
}

.battery-charging-full:before {
  content: "\ue1a3";
}

.battery-full:before {
  content: "\ue1a4";
}

.battery-std:before {
  content: "\ue1a5";
}

.battery-unknown:before {
  content: "\ue1a6";
}

.beach-access:before {
  content: "\ueb3e";
}

.beenhere:before {
  content: "\ue52d";
}

.block:before {
  content: "\ue14b";
}

.bluetooth:before {
  content: "\ue1a7";
}

.bluetooth-audio:before {
  content: "\ue60f";
}

.bluetooth-connected:before {
  content: "\ue1a8";
}

.bluetooth-disabled:before {
  content: "\ue1a9";
}

.bluetooth-searching:before {
  content: "\ue1aa";
}

.blur-circular:before {
  content: "\ue3a2";
}

.blur-linear:before {
  content: "\ue3a3";
}

.blur-off:before {
  content: "\ue3a4";
}

.blur-on:before {
  content: "\ue3a5";
}

.book:before {
  content: "\ue865";
}

.bookmark:before {
  content: "\ue866";
}

.bookmark-border:before {
  content: "\ue867";
}

.border-all:before {
  content: "\ue228";
}

.border-bottom:before {
  content: "\ue229";
}

.border-clear:before {
  content: "\ue22a";
}

.border-color:before {
  content: "\ue22b";
}

.border-horizontal:before {
  content: "\ue22c";
}

.border-inner:before {
  content: "\ue22d";
}

.border-left:before {
  content: "\ue22e";
}

.border-outer:before {
  content: "\ue22f";
}

.border-right:before {
  content: "\ue230";
}

.border-style:before {
  content: "\ue231";
}

.border-top:before {
  content: "\ue232";
}

.border-vertical:before {
  content: "\ue233";
}

.branding-watermark:before {
  content: "\ue06b";
}

.brightness-1:before {
  content: "\ue3a6";
}

.brightness-2:before {
  content: "\ue3a7";
}

.brightness-3:before {
  content: "\ue3a8";
}

.brightness-4:before {
  content: "\ue3a9";
}

.brightness-5:before {
  content: "\ue3aa";
}

.brightness-6:before {
  content: "\ue3ab";
}

.brightness-7:before {
  content: "\ue3ac";
}

.brightness-auto:before {
  content: "\ue1ab";
}

.brightness-high:before {
  content: "\ue1ac";
}

.brightness-low:before {
  content: "\ue1ad";
}

.brightness-medium:before {
  content: "\ue1ae";
}

.broken-image:before {
  content: "\ue3ad";
}

.brush:before {
  content: "\ue3ae";
}

.bubble-chart:before {
  content: "\ue6dd";
}

.bug-report:before {
  content: "\ue868";
}

.build:before {
  content: "\ue869";
}

.burst-mode:before {
  content: "\ue43c";
}

.business:before {
  content: "\ue0af";
}

.business-center:before {
  content: "\ueb3f";
}

.cached:before {
  content: "\ue86a";
}

.cake:before {
  content: "\ue7e9";
}

.call:before {
  content: "\ue0b0";
}

.call-end:before {
  content: "\ue0b1";
}

.call-made:before {
  content: "\ue0b2";
}

.call-merge:before {
  content: "\ue0b3";
}

.call-missed:before {
  content: "\ue0b4";
}

.call-missed-outgoing:before {
  content: "\ue0e4";
}

.call-received:before {
  content: "\ue0b5";
}

.call-split:before {
  content: "\ue0b6";
}

.call-to-action:before {
  content: "\ue06c";
}

.camera:before {
  content: "\ue3af";
}

.camera-alt:before {
  content: "\ue3b0";
}

.camera-enhance:before {
  content: "\ue8fc";
}

.camera-front:before {
  content: "\ue3b1";
}

.camera-rear:before {
  content: "\ue3b2";
}

.camera-roll:before {
  content: "\ue3b3";
}

.cancel:before {
  content: "\ue5c9";
}

.card-giftcard:before {
  content: "\ue8f6";
}

.card-membership:before {
  content: "\ue8f7";
}

.card-travel:before {
  content: "\ue8f8";
}

.casino:before {
  content: "\ueb40";
}

.cast:before {
  content: "\ue307";
}

.cast-connected:before {
  content: "\ue308";
}

.center-focus-strong:before {
  content: "\ue3b4";
}

.center-focus-weak:before {
  content: "\ue3b5";
}

.change-history:before {
  content: "\ue86b";
}

.chat:before {
  content: "\ue0b7";
}

.chat-bubble:before {
  content: "\ue0ca";
}

.chat-bubble-outline:before {
  content: "\ue0cb";
}

.check:before {
  content: "\ue5ca";
}

.check-box:before {
  content: "\ue834";
}

.check-box-outline-blank:before {
  content: "\ue835";
}

.check-circle:before {
  content: "\ue86c";
}

.chevron-left:before {
  content: "\ue5cb";
}

.chevron-right:before {
  content: "\ue5cc";
}

.child-care:before {
  content: "\ueb41";
}

.child-friendly:before {
  content: "\ueb42";
}

.chrome-reader-mode:before {
  content: "\ue86d";
}

.class:before {
  content: "\ue86e";
}

.clear:before {
  content: "\ue14c";
}

.clear-all:before {
  content: "\ue0b8";
}

.close:before {
  content: "\ue5cd";
}

.closed-caption:before {
  content: "\ue01c";
}

.cloud:before {
  content: "\ue2bd";
}

.cloud-circle:before {
  content: "\ue2be";
}

.cloud-done:before {
  content: "\ue2bf";
}

.cloud-download:before {
  content: "\ue2c0";
}

.cloud-off:before {
  content: "\ue2c1";
}

.cloud-queue:before {
  content: "\ue2c2";
}

.cloud-upload:before {
  content: "\ue2c3";
}

.code:before {
  content: "\ue86f";
}

.collections:before {
  content: "\ue3b6";
}

.collections-bookmark:before {
  content: "\ue431";
}

.color-lens:before {
  content: "\ue3b7";
}

.colorize:before {
  content: "\ue3b8";
}

.comment:before {
  content: "\ue0b9";
}

.compare:before {
  content: "\ue3b9";
}

.compare-arrows:before {
  content: "\ue915";
}

.computer:before {
  content: "\ue30a";
}

.confirmation-number:before {
  content: "\ue638";
}

.contact-mail:before {
  content: "\ue0d0";
}

.contact-phone:before {
  content: "\ue0cf";
}

.contacts:before {
  content: "\ue0ba";
}

.content-copy:before {
  content: "\ue14d";
}

.content-cut:before {
  content: "\ue14e";
}

.content-paste:before {
  content: "\ue14f";
}

.control-point:before {
  content: "\ue3ba";
}

.control-point-duplicate:before {
  content: "\ue3bb";
}

.copyright:before {
  content: "\ue90c";
}

.create:before {
  content: "\ue150";
}

.create-new-folder:before {
  content: "\ue2cc";
}

.credit-card:before {
  content: "\ue870";
}

.crop:before {
  content: "\ue3be";
}

.crop-16-9:before {
  content: "\ue3bc";
}

.crop-3-2:before {
  content: "\ue3bd";
}

.crop-5-4:before {
  content: "\ue3bf";
}

.crop-7-5:before {
  content: "\ue3c0";
}

.crop-din:before {
  content: "\ue3c1";
}

.crop-free:before {
  content: "\ue3c2";
}

.crop-landscape:before {
  content: "\ue3c3";
}

.crop-original:before {
  content: "\ue3c4";
}

.crop-portrait:before {
  content: "\ue3c5";
}

.crop-rotate:before {
  content: "\ue437";
}

.crop-square:before {
  content: "\ue3c6";
}

.dashboard:before {
  content: "\ue871";
}

.data-usage:before {
  content: "\ue1af";
}

.date-range:before {
  content: "\ue916";
}

.dehaze:before {
  content: "\ue3c7";
}

.delete:before {
  content: "\ue872";
}

.delete-forever:before {
  content: "\ue92b";
}

.delete-sweep:before {
  content: "\ue16c";
}

.description:before {
  content: "\ue873";
}

.desktop-mac:before {
  content: "\ue30b";
}

.desktop-windows:before {
  content: "\ue30c";
}

.details:before {
  content: "\ue3c8";
}

.developer-board:before {
  content: "\ue30d";
}

.developer-mode:before {
  content: "\ue1b0";
}

.device-hub:before {
  content: "\ue335";
}

.devices:before {
  content: "\ue1b1";
}

.devices-other:before {
  content: "\ue337";
}

.dialer-sip:before {
  content: "\ue0bb";
}

.dialpad:before {
  content: "\ue0bc";
}

.directions:before {
  content: "\ue52e";
}

.directions-bike:before {
  content: "\ue52f";
}

.directions-boat:before {
  content: "\ue532";
}

.directions-bus:before {
  content: "\ue530";
}

.directions-car:before {
  content: "\ue531";
}

.directions-railway:before {
  content: "\ue534";
}

.directions-run:before {
  content: "\ue566";
}

.directions-subway:before {
  content: "\ue533";
}

.directions-transit:before {
  content: "\ue535";
}

.directions-walk:before {
  content: "\ue536";
}

.disc-full:before {
  content: "\ue610";
}

.dns:before {
  content: "\ue875";
}

.do-not-disturb:before {
  content: "\ue612";
}

.do-not-disturb-alt:before {
  content: "\ue611";
}

.do-not-disturb-off:before {
  content: "\ue643";
}

.do-not-disturb-on:before {
  content: "\ue644";
}

.dock:before {
  content: "\ue30e";
}

.domain:before {
  content: "\ue7ee";
}

.done:before {
  content: "\ue876";
}

.done-all:before {
  content: "\ue877";
}

.donut-large:before {
  content: "\ue917";
}

.donut-small:before {
  content: "\ue918";
}

.drafts:before {
  content: "\ue151";
}

.drag-handle:before {
  content: "\ue25d";
}

.drive-eta:before {
  content: "\ue613";
}

.dvr:before {
  content: "\ue1b2";
}

.edit:before {
  content: "\ue3c9";
}

.edit-location:before {
  content: "\ue568";
}

.eject:before {
  content: "\ue8fb";
}

.email:before {
  content: "\ue0be";
}

.enhanced-encryption:before {
  content: "\ue63f";
}

.equalizer:before {
  content: "\ue01d";
}

.error:before {
  content: "\ue000";
}

.error-outline:before {
  content: "\ue001";
}

.euro-symbol:before {
  content: "\ue926";
}

.ev-station:before {
  content: "\ue56d";
}

.event:before {
  content: "\ue878";
}

.event-available:before {
  content: "\ue614";
}

.event-busy:before {
  content: "\ue615";
}

.event-note:before {
  content: "\ue616";
}

.event-seat:before {
  content: "\ue903";
}

.exit-to-app:before {
  content: "\ue879";
}

.expand-less:before {
  content: "\ue5ce";
}

.expand-more:before {
  content: "\ue5cf";
}

.explicit:before {
  content: "\ue01e";
}

.explore:before {
  content: "\ue87a";
}

.exposure:before {
  content: "\ue3ca";
}

.exposure-neg-1:before {
  content: "\ue3cb";
}

.exposure-neg-2:before {
  content: "\ue3cc";
}

.exposure-plus-1:before {
  content: "\ue3cd";
}

.exposure-plus-2:before {
  content: "\ue3ce";
}

.exposure-zero:before {
  content: "\ue3cf";
}

.extension:before {
  content: "\ue87b";
}

.face:before {
  content: "\ue87c";
}

.fast-forward:before {
  content: "\ue01f";
}

.fast-rewind:before {
  content: "\ue020";
}

.favorite:before {
  content: "\ue87d";
}

.favorite-border:before {
  content: "\ue87e";
}

.featured-play-list:before {
  content: "\ue06d";
}

.featured-video:before {
  content: "\ue06e";
}

.feedback:before {
  content: "\ue87f";
}

.fiber-dvr:before {
  content: "\ue05d";
}

.fiber-manual-record:before {
  content: "\ue061";
}

.fiber-new:before {
  content: "\ue05e";
}

.fiber-pin:before {
  content: "\ue06a";
}

.fiber-smart-record:before {
  content: "\ue062";
}

.file-download:before {
  content: "\ue2c4";
}

.file-upload:before {
  content: "\ue2c6";
}

.filter:before {
  content: "\ue3d3";
}

.filter-1:before {
  content: "\ue3d0";
}

.filter-2:before {
  content: "\ue3d1";
}

.filter-3:before {
  content: "\ue3d2";
}

.filter-4:before {
  content: "\ue3d4";
}

.filter-5:before {
  content: "\ue3d5";
}

.filter-6:before {
  content: "\ue3d6";
}

.filter-7:before {
  content: "\ue3d7";
}

.filter-8:before {
  content: "\ue3d8";
}

.filter-9:before {
  content: "\ue3d9";
}

.filter-9-plus:before {
  content: "\ue3da";
}

.filter-b-and-w:before {
  content: "\ue3db";
}

.filter-center-focus:before {
  content: "\ue3dc";
}

.filter-drama:before {
  content: "\ue3dd";
}

.filter-frames:before {
  content: "\ue3de";
}

.filter-hdr:before {
  content: "\ue3df";
}

.filter-list:before {
  content: "\ue152";
}

.filter-none:before {
  content: "\ue3e0";
}

.filter-tilt-shift:before {
  content: "\ue3e2";
}

.filter-vintage:before {
  content: "\ue3e3";
}

.find-in-page:before {
  content: "\ue880";
}

.find-replace:before {
  content: "\ue881";
}

.fingerprint:before {
  content: "\ue90d";
}

.first-page:before {
  content: "\ue5dc";
}

.fitness-center:before {
  content: "\ueb43";
}

.flag:before {
  content: "\ue153";
}

.flare:before {
  content: "\ue3e4";
}

.flash-auto:before {
  content: "\ue3e5";
}

.flash-off:before {
  content: "\ue3e6";
}

.flash-on:before {
  content: "\ue3e7";
}

.flight:before {
  content: "\ue539";
}

.flight-land:before {
  content: "\ue904";
}

.flight-takeoff:before {
  content: "\ue905";
}

.flip:before {
  content: "\ue3e8";
}

.flip-to-back:before {
  content: "\ue882";
}

.flip-to-front:before {
  content: "\ue883";
}

.folder:before {
  content: "\ue2c7";
}

.folder-open:before {
  content: "\ue2c8";
}

.folder-shared:before {
  content: "\ue2c9";
}

.folder-special:before {
  content: "\ue617";
}

.font-download:before {
  content: "\ue167";
}

.format-align-center:before {
  content: "\ue234";
}

.format-align-justify:before {
  content: "\ue235";
}

.format-align-left:before {
  content: "\ue236";
}

.format-align-right:before {
  content: "\ue237";
}

.format-bold:before {
  content: "\ue238";
}

.format-clear:before {
  content: "\ue239";
}

.format-color-fill:before {
  content: "\ue23a";
}

.format-color-reset:before {
  content: "\ue23b";
}

.format-color-text:before {
  content: "\ue23c";
}

.format-indent-decrease:before {
  content: "\ue23d";
}

.format-indent-increase:before {
  content: "\ue23e";
}

.format-italic:before {
  content: "\ue23f";
}

.format-line-spacing:before {
  content: "\ue240";
}

.format-list-bulleted:before {
  content: "\ue241";
}

.format-list-numbered:before {
  content: "\ue242";
}

.format-paint:before {
  content: "\ue243";
}

.format-quote:before {
  content: "\ue244";
}

.format-shapes:before {
  content: "\ue25e";
}

.format-size:before {
  content: "\ue245";
}

.format-strikethrough:before {
  content: "\ue246";
}

.format-textdirection-l-to-r:before {
  content: "\ue247";
}

.format-textdirection-r-to-l:before {
  content: "\ue248";
}

.format-underlined:before {
  content: "\ue249";
}

.forum:before {
  content: "\ue0bf";
}

.forward:before {
  content: "\ue154";
}

.forward-10:before {
  content: "\ue056";
}

.forward-30:before {
  content: "\ue057";
}

.forward-5:before {
  content: "\ue058";
}

.free-breakfast:before {
  content: "\ueb44";
}

.fullscreen:before {
  content: "\ue5d0";
}

.fullscreen-exit:before {
  content: "\ue5d1";
}

.functions:before {
  content: "\ue24a";
}

.g-translate:before {
  content: "\ue927";
}

.gamepad:before {
  content: "\ue30f";
}

.games:before {
  content: "\ue021";
}

.gavel:before {
  content: "\ue90e";
}

.gesture:before {
  content: "\ue155";
}

.get-app:before {
  content: "\ue884";
}

.gif:before {
  content: "\ue908";
}

.golf-course:before {
  content: "\ueb45";
}

.gps-fixed:before {
  content: "\ue1b3";
}

.gps-not-fixed:before {
  content: "\ue1b4";
}

.gps-off:before {
  content: "\ue1b5";
}

.grade:before {
  content: "\ue885";
}

.gradient:before {
  content: "\ue3e9";
}

.grain:before {
  content: "\ue3ea";
}

.graphic-eq:before {
  content: "\ue1b8";
}

.grid-off:before {
  content: "\ue3eb";
}

.grid-on:before {
  content: "\ue3ec";
}

.group:before {
  content: "\ue7ef";
}

.group-add:before {
  content: "\ue7f0";
}

.group-work:before {
  content: "\ue886";
}

.hd:before {
  content: "\ue052";
}

.hdr-off:before {
  content: "\ue3ed";
}

.hdr-on:before {
  content: "\ue3ee";
}

.hdr-strong:before {
  content: "\ue3f1";
}

.hdr-weak:before {
  content: "\ue3f2";
}

.headset:before {
  content: "\ue310";
}

.headset-mic:before {
  content: "\ue311";
}

.healing:before {
  content: "\ue3f3";
}

.hearing:before {
  content: "\ue023";
}

.help:before {
  content: "\ue887";
}

.help-outline:before {
  content: "\ue8fd";
}

.high-quality:before {
  content: "\ue024";
}

.highlight:before {
  content: "\ue25f";
}

.highlight-off:before {
  content: "\ue888";
}

.history:before {
  content: "\ue889";
}

.home:before {
  content: "\ue88a";
}

.hot-tub:before {
  content: "\ueb46";
}

.hotel:before {
  content: "\ue53a";
}

.hourglass-empty:before {
  content: "\ue88b";
}

.hourglass-full:before {
  content: "\ue88c";
}

.http:before {
  content: "\ue902";
}

.https:before {
  content: "\ue88d";
}

.image:before {
  content: "\ue3f4";
}

.image-aspect-ratio:before {
  content: "\ue3f5";
}

.import-contacts:before {
  content: "\ue0e0";
}

.import-export:before {
  content: "\ue0c3";
}

.important-devices:before {
  content: "\ue912";
}

.inbox:before {
  content: "\ue156";
}

.indeterminate-check-box:before {
  content: "\ue909";
}

.info:before {
  content: "\ue88e";
}

.info-outline:before {
  content: "\ue88f";
}

.input:before {
  content: "\ue890";
}

.insert-chart:before {
  content: "\ue24b";
}

.insert-comment:before {
  content: "\ue24c";
}

.insert-drive-file:before {
  content: "\ue24d";
}

.insert-emoticon:before {
  content: "\ue24e";
}

.insert-invitation:before {
  content: "\ue24f";
}

.insert-link:before {
  content: "\ue250";
}

.insert-photo:before {
  content: "\ue251";
}

.invert-colors:before {
  content: "\ue891";
}

.invert-colors-off:before {
  content: "\ue0c4";
}

.iso:before {
  content: "\ue3f6";
}

.keyboard:before {
  content: "\ue312";
}

.keyboard-arrow-down:before {
  content: "\ue313";
}

.keyboard-arrow-left:before {
  content: "\ue314";
}

.keyboard-arrow-right:before {
  content: "\ue315";
}

.keyboard-arrow-up:before {
  content: "\ue316";
}

.keyboard-backspace:before {
  content: "\ue317";
}

.keyboard-capslock:before {
  content: "\ue318";
}

.keyboard-hide:before {
  content: "\ue31a";
}

.keyboard-return:before {
  content: "\ue31b";
}

.keyboard-tab:before {
  content: "\ue31c";
}

.keyboard-voice:before {
  content: "\ue31d";
}

.kitchen:before {
  content: "\ueb47";
}

.label:before {
  content: "\ue892";
}

.label-outline:before {
  content: "\ue893";
}

.landscape:before {
  content: "\ue3f7";
}

.language:before {
  content: "\ue894";
}

.laptop:before {
  content: "\ue31e";
}

.laptop-chromebook:before {
  content: "\ue31f";
}

.laptop-mac:before {
  content: "\ue320";
}

.laptop-windows:before {
  content: "\ue321";
}

.last-page:before {
  content: "\ue5dd";
}

.launch:before {
  content: "\ue895";
}

.layers:before {
  content: "\ue53b";
}

.layers-clear:before {
  content: "\ue53c";
}

.leak-add:before {
  content: "\ue3f8";
}

.leak-remove:before {
  content: "\ue3f9";
}

.lens:before {
  content: "\ue3fa";
}

.library-add:before {
  content: "\ue02e";
}

.library-books:before {
  content: "\ue02f";
}

.library-music:before {
  content: "\ue030";
}

.lightbulb-outline:before {
  content: "\ue90f";
}

.line-style:before {
  content: "\ue919";
}

.line-weight:before {
  content: "\ue91a";
}

.linear-scale:before {
  content: "\ue260";
}

.link:before {
  content: "\ue157";
}

.linked-camera:before {
  content: "\ue438";
}

.list:before {
  content: "\ue896";
}

.live-help:before {
  content: "\ue0c6";
}

.live-tv:before {
  content: "\ue639";
}

.local-activity:before {
  content: "\ue53f";
}

.local-airport:before {
  content: "\ue53d";
}

.local-atm:before {
  content: "\ue53e";
}

.local-bar:before {
  content: "\ue540";
}

.local-cafe:before {
  content: "\ue541";
}

.local-car-wash:before {
  content: "\ue542";
}

.local-convenience-store:before {
  content: "\ue543";
}

.local-dining:before {
  content: "\ue556";
}

.local-drink:before {
  content: "\ue544";
}

.local-florist:before {
  content: "\ue545";
}

.local-gas-station:before {
  content: "\ue546";
}

.local-grocery-store:before {
  content: "\ue547";
}

.local-hospital:before {
  content: "\ue548";
}

.local-hotel:before {
  content: "\ue549";
}

.local-laundry-service:before {
  content: "\ue54a";
}

.local-library:before {
  content: "\ue54b";
}

.local-mall:before {
  content: "\ue54c";
}

.local-movies:before {
  content: "\ue54d";
}

.local-offer:before {
  content: "\ue54e";
}

.local-parking:before {
  content: "\ue54f";
}

.local-pharmacy:before {
  content: "\ue550";
}

.local-phone:before {
  content: "\ue551";
}

.local-pizza:before {
  content: "\ue552";
}

.local-play:before {
  content: "\ue553";
}

.local-post-office:before {
  content: "\ue554";
}

.local-printshop:before {
  content: "\ue555";
}

.local-see:before {
  content: "\ue557";
}

.local-shipping:before {
  content: "\ue558";
}

.local-taxi:before {
  content: "\ue559";
}

.location-city:before {
  content: "\ue7f1";
}

.location-disabled:before {
  content: "\ue1b6";
}

.location-off:before {
  content: "\ue0c7";
}

.location-on:before {
  content: "\ue0c8";
}

.location-searching:before {
  content: "\ue1b7";
}

.lock:before {
  content: "\ue897";
}

.lock-open:before {
  content: "\ue898";
}

.lock-outline:before {
  content: "\ue899";
}

.looks:before {
  content: "\ue3fc";
}

.looks-3:before {
  content: "\ue3fb";
}

.looks-4:before {
  content: "\ue3fd";
}

.looks-5:before {
  content: "\ue3fe";
}

.looks-6:before {
  content: "\ue3ff";
}

.looks-one:before {
  content: "\ue400";
}

.looks-two:before {
  content: "\ue401";
}

.loop:before {
  content: "\ue028";
}

.loupe:before {
  content: "\ue402";
}

.low-priority:before {
  content: "\ue16d";
}

.loyalty:before {
  content: "\ue89a";
}

.mail:before {
  content: "\ue158";
}

.mail-outline:before {
  content: "\ue0e1";
}

.map:before {
  content: "\ue55b";
}

.markunread:before {
  content: "\ue159";
}

.markunread-mailbox:before {
  content: "\ue89b";
}

.memory:before {
  content: "\ue322";
}

.menu:before {
  content: "\ue5d2";
}

.merge-type:before {
  content: "\ue252";
}

.message:before {
  content: "\ue0c9";
}

.mic:before {
  content: "\ue029";
}

.mic-none:before {
  content: "\ue02a";
}

.mic-off:before {
  content: "\ue02b";
}

.mms:before {
  content: "\ue618";
}

.mode-comment:before {
  content: "\ue253";
}

.mode-edit:before {
  content: "\ue254";
}

.monetization-on:before {
  content: "\ue263";
}

.money-off:before {
  content: "\ue25c";
}

.monochrome-photos:before {
  content: "\ue403";
}

.mood:before {
  content: "\ue7f2";
}

.mood-bad:before {
  content: "\ue7f3";
}

.more:before {
  content: "\ue619";
}

.more-horiz:before {
  content: "\ue5d3";
}

.more-vert:before {
  content: "\ue5d4";
}

.motorcycle:before {
  content: "\ue91b";
}

.mouse:before {
  content: "\ue323";
}

.move-to-inbox:before {
  content: "\ue168";
}

.movie:before {
  content: "\ue02c";
}

.movie-creation:before {
  content: "\ue404";
}

.movie-filter:before {
  content: "\ue43a";
}

.multiline-chart:before {
  content: "\ue6df";
}

.music-note:before {
  content: "\ue405";
}

.music-video:before {
  content: "\ue063";
}

.my-location:before {
  content: "\ue55c";
}

.nature:before {
  content: "\ue406";
}

.nature-people:before {
  content: "\ue407";
}

.navigate-before:before {
  content: "\ue408";
}

.navigate-next:before {
  content: "\ue409";
}

.navigation:before {
  content: "\ue55d";
}

.near-me:before {
  content: "\ue569";
}

.network-cell:before {
  content: "\ue1b9";
}

.network-check:before {
  content: "\ue640";
}

.network-locked:before {
  content: "\ue61a";
}

.network-wifi:before {
  content: "\ue1ba";
}

.new-releases:before {
  content: "\ue031";
}

.next-week:before {
  content: "\ue16a";
}

.nfc:before {
  content: "\ue1bb";
}

.no-encryption:before {
  content: "\ue641";
}

.no-sim:before {
  content: "\ue0cc";
}

.not-interested:before {
  content: "\ue033";
}

.note:before {
  content: "\ue06f";
}

.note-add:before {
  content: "\ue89c";
}

.notifications:before {
  content: "\ue7f4";
}

.notifications-active:before {
  content: "\ue7f7";
}

.notifications-none:before {
  content: "\ue7f5";
}

.notifications-off:before {
  content: "\ue7f6";
}

.notifications-paused:before {
  content: "\ue7f8";
}

.offline-pin:before {
  content: "\ue90a";
}

.ondemand-video:before {
  content: "\ue63a";
}

.opacity:before {
  content: "\ue91c";
}

.open-in-browser:before {
  content: "\ue89d";
}

.open-in-new:before {
  content: "\ue89e";
}

.open-with:before {
  content: "\ue89f";
}

.pages:before {
  content: "\ue7f9";
}

.pageview:before {
  content: "\ue8a0";
}

.palette:before {
  content: "\ue40a";
}

.pan-tool:before {
  content: "\ue925";
}

.panorama:before {
  content: "\ue40b";
}

.panorama-fish-eye:before {
  content: "\ue40c";
}

.panorama-horizontal:before {
  content: "\ue40d";
}

.panorama-vertical:before {
  content: "\ue40e";
}

.panorama-wide-angle:before {
  content: "\ue40f";
}

.party-mode:before {
  content: "\ue7fa";
}

.pause:before {
  content: "\ue034";
}

.pause-circle-filled:before {
  content: "\ue035";
}

.pause-circle-outline:before {
  content: "\ue036";
}

.payment:before {
  content: "\ue8a1";
}

.people:before {
  content: "\ue7fb";
}

.people-outline:before {
  content: "\ue7fc";
}

.perm-camera-mic:before {
  content: "\ue8a2";
}

.perm-contact-calendar:before {
  content: "\ue8a3";
}

.perm-data-setting:before {
  content: "\ue8a4";
}

.perm-device-information:before {
  content: "\ue8a5";
}

.perm-identity:before {
  content: "\ue8a6";
}

.perm-media:before {
  content: "\ue8a7";
}

.perm-phone-msg:before {
  content: "\ue8a8";
}

.perm-scan-wifi:before {
  content: "\ue8a9";
}

.person:before {
  content: "\ue7fd";
}

.person-add:before {
  content: "\ue7fe";
}

.person-outline:before {
  content: "\ue7ff";
}

.person-pin:before {
  content: "\ue55a";
}

.person-pin-circle:before {
  content: "\ue56a";
}

.personal-video:before {
  content: "\ue63b";
}

.pets:before {
  content: "\ue91d";
}

.phone:before {
  content: "\ue0cd";
}

.phone-android:before {
  content: "\ue324";
}

.phone-bluetooth-speaker:before {
  content: "\ue61b";
}

.phone-forwarded:before {
  content: "\ue61c";
}

.phone-in-talk:before {
  content: "\ue61d";
}

.phone-iphone:before {
  content: "\ue325";
}

.phone-locked:before {
  content: "\ue61e";
}

.phone-missed:before {
  content: "\ue61f";
}

.phone-paused:before {
  content: "\ue620";
}

.phonelink:before {
  content: "\ue326";
}

.phonelink-erase:before {
  content: "\ue0db";
}

.phonelink-lock:before {
  content: "\ue0dc";
}

.phonelink-off:before {
  content: "\ue327";
}

.phonelink-ring:before {
  content: "\ue0dd";
}

.phonelink-setup:before {
  content: "\ue0de";
}

.photo:before {
  content: "\ue410";
}

.photo-album:before {
  content: "\ue411";
}

.photo-camera:before {
  content: "\ue412";
}

.photo-filter:before {
  content: "\ue43b";
}

.photo-library:before {
  content: "\ue413";
}

.photo-size-select-actual:before {
  content: "\ue432";
}

.photo-size-select-large:before {
  content: "\ue433";
}

.photo-size-select-small:before {
  content: "\ue434";
}

.picture-as-pdf:before {
  content: "\ue415";
}

.picture-in-picture:before {
  content: "\ue8aa";
}

.picture-in-picture-alt:before {
  content: "\ue911";
}

.pie-chart:before {
  content: "\ue6c4";
}

.pie-chart-outlined:before {
  content: "\ue6c5";
}

.pin-drop:before {
  content: "\ue55e";
}

.place:before {
  content: "\ue55f";
}

.play-arrow:before {
  content: "\ue037";
}

.play-circle-filled:before {
  content: "\ue038";
}

.play-circle-outline:before {
  content: "\ue039";
}

.play-for-work:before {
  content: "\ue906";
}

.playlist-add:before {
  content: "\ue03b";
}

.playlist-add-check:before {
  content: "\ue065";
}

.playlist-play:before {
  content: "\ue05f";
}

.plus-one:before {
  content: "\ue800";
}

.poll:before {
  content: "\ue801";
}

.polymer:before {
  content: "\ue8ab";
}

.pool:before {
  content: "\ueb48";
}

.portable-wifi-off:before {
  content: "\ue0ce";
}

.portrait:before {
  content: "\ue416";
}

.power:before {
  content: "\ue63c";
}

.power-input:before {
  content: "\ue336";
}

.power-settings-new:before {
  content: "\ue8ac";
}

.pregnant-woman:before {
  content: "\ue91e";
}

.present-to-all:before {
  content: "\ue0df";
}

.print:before {
  content: "\ue8ad";
}

.priority-high:before {
  content: "\ue645";
}

.public:before {
  content: "\ue80b";
}

.publish:before {
  content: "\ue255";
}

.query-builder:before {
  content: "\ue8ae";
}

.question-answer:before {
  content: "\ue8af";
}

.queue:before {
  content: "\ue03c";
}

.queue-music:before {
  content: "\ue03d";
}

.queue-play-next:before {
  content: "\ue066";
}

.radio:before {
  content: "\ue03e";
}

.radio-button-checked:before {
  content: "\ue837";
}

.radio-button-unchecked:before {
  content: "\ue836";
}

.rate-review:before {
  content: "\ue560";
}

.receipt:before {
  content: "\ue8b0";
}

.recent-actors:before {
  content: "\ue03f";
}

.record-voice-over:before {
  content: "\ue91f";
}

.redeem:before {
  content: "\ue8b1";
}

.redo:before {
  content: "\ue15a";
}

.refresh:before {
  content: "\ue5d5";
}

.remove:before {
  content: "\ue15b";
}

.remove-circle:before {
  content: "\ue15c";
}

.remove-circle-outline:before {
  content: "\ue15d";
}

.remove-from-queue:before {
  content: "\ue067";
}

.remove-red-eye:before {
  content: "\ue417";
}

.remove-shopping-cart:before {
  content: "\ue928";
}

.reorder:before {
  content: "\ue8fe";
}

.repeat:before {
  content: "\ue040";
}

.repeat-one:before {
  content: "\ue041";
}

.replay:before {
  content: "\ue042";
}

.replay-10:before {
  content: "\ue059";
}

.replay-30:before {
  content: "\ue05a";
}

.replay-5:before {
  content: "\ue05b";
}

.reply:before {
  content: "\ue15e";
}

.reply-all:before {
  content: "\ue15f";
}

.report:before {
  content: "\ue160";
}

.report-problem:before {
  content: "\ue8b2";
}

.restaurant:before {
  content: "\ue56c";
}

.restaurant-menu:before {
  content: "\ue561";
}

.restore:before {
  content: "\ue8b3";
}

.restore-page:before {
  content: "\ue929";
}

.ring-volume:before {
  content: "\ue0d1";
}

.room:before {
  content: "\ue8b4";
}

.room-service:before {
  content: "\ueb49";
}

.rotate-90-degrees-ccw:before {
  content: "\ue418";
}

.rotate-left:before {
  content: "\ue419";
}

.rotate-right:before {
  content: "\ue41a";
}

.rounded-corner:before {
  content: "\ue920";
}

.router:before {
  content: "\ue328";
}

.rowing:before {
  content: "\ue921";
}

.rss-feed:before {
  content: "\ue0e5";
}

.rv-hookup:before {
  content: "\ue642";
}

.satellite:before {
  content: "\ue562";
}

.save:before {
  content: "\ue161";
}

.scanner:before {
  content: "\ue329";
}

.schedule:before {
  content: "\ue8b5";
}

.school:before {
  content: "\ue80c";
}

.screen-lock-landscape:before {
  content: "\ue1be";
}

.screen-lock-portrait:before {
  content: "\ue1bf";
}

.screen-lock-rotation:before {
  content: "\ue1c0";
}

.screen-rotation:before {
  content: "\ue1c1";
}

.screen-share:before {
  content: "\ue0e2";
}

.sd-card:before {
  content: "\ue623";
}

.sd-storage:before {
  content: "\ue1c2";
}

.search:before {
  content: "\ue8b6";
}

.security:before {
  content: "\ue32a";
}

.select-all:before {
  content: "\ue162";
}

.send:before {
  content: "\ue163";
}

.sentiment-dissatisfied:before {
  content: "\ue811";
}

.sentiment-neutral:before {
  content: "\ue812";
}

.sentiment-satisfied:before {
  content: "\ue813";
}

.sentiment-very-dissatisfied:before {
  content: "\ue814";
}

.sentiment-very-satisfied:before {
  content: "\ue815";
}

.settings:before {
  content: "\ue8b8";
}

.settings-applications:before {
  content: "\ue8b9";
}

.settings-backup-restore:before {
  content: "\ue8ba";
}

.settings-bluetooth:before {
  content: "\ue8bb";
}

.settings-brightness:before {
  content: "\ue8bd";
}

.settings-cell:before {
  content: "\ue8bc";
}

.settings-ethernet:before {
  content: "\ue8be";
}

.settings-input-antenna:before {
  content: "\ue8bf";
}

.settings-input-component:before {
  content: "\ue8c0";
}

.settings-input-composite:before {
  content: "\ue8c1";
}

.settings-input-hdmi:before {
  content: "\ue8c2";
}

.settings-input-svideo:before {
  content: "\ue8c3";
}

.settings-overscan:before {
  content: "\ue8c4";
}

.settings-phone:before {
  content: "\ue8c5";
}

.settings-power:before {
  content: "\ue8c6";
}

.settings-remote:before {
  content: "\ue8c7";
}

.settings-system-daydream:before {
  content: "\ue1c3";
}

.settings-voice:before {
  content: "\ue8c8";
}

.share:before {
  content: "\ue80d";
}

.shop:before {
  content: "\ue8c9";
}

.shop-two:before {
  content: "\ue8ca";
}

.shopping-basket:before {
  content: "\ue8cb";
}

.shopping-cart:before {
  content: "\ue8cc";
}

.short-text:before {
  content: "\ue261";
}

.show-chart:before {
  content: "\ue6e1";
}

.shuffle:before {
  content: "\ue043";
}

.signal-cellular-4-bar:before {
  content: "\ue1c8";
}

.signal-cellular-connected-no-internet-4-bar:before {
  content: "\ue1cd";
}

.signal-cellular-no-sim:before {
  content: "\ue1ce";
}

.signal-cellular-null:before {
  content: "\ue1cf";
}

.signal-cellular-off:before {
  content: "\ue1d0";
}

.signal-wifi-4-bar:before {
  content: "\ue1d8";
}

.signal-wifi-4-bar-lock:before {
  content: "\ue1d9";
}

.signal-wifi-off:before {
  content: "\ue1da";
}

.sim-card:before {
  content: "\ue32b";
}

.sim-card-alert:before {
  content: "\ue624";
}

.skip-next:before {
  content: "\ue044";
}

.skip-previous:before {
  content: "\ue045";
}

.slideshow:before {
  content: "\ue41b";
}

.slow-motion-video:before {
  content: "\ue068";
}

.smartphone:before {
  content: "\ue32c";
}

.smoke-free:before {
  content: "\ueb4a";
}

.smoking-rooms:before {
  content: "\ueb4b";
}

.sms:before {
  content: "\ue625";
}

.sms-failed:before {
  content: "\ue626";
}

.snooze:before {
  content: "\ue046";
}

.sort:before {
  content: "\ue164";
}

.sort-by-alpha:before {
  content: "\ue053";
}

.spa:before {
  content: "\ueb4c";
}

.space-bar:before {
  content: "\ue256";
}

.speaker:before {
  content: "\ue32d";
}

.speaker-group:before {
  content: "\ue32e";
}

.speaker-notes:before {
  content: "\ue8cd";
}

.speaker-notes-off:before {
  content: "\ue92a";
}

.speaker-phone:before {
  content: "\ue0d2";
}

.spellcheck:before {
  content: "\ue8ce";
}

.star:before {
  content: "\ue838";
}

.star-border:before {
  content: "\ue83a";
}

.star-half:before {
  content: "\ue839";
}

.stars:before {
  content: "\ue8d0";
}

.stay-current-landscape:before {
  content: "\ue0d3";
}

.stay-current-portrait:before {
  content: "\ue0d4";
}

.stay-primary-landscape:before {
  content: "\ue0d5";
}

.stay-primary-portrait:before {
  content: "\ue0d6";
}

.stop:before {
  content: "\ue047";
}

.stop-screen-share:before {
  content: "\ue0e3";
}

.storage:before {
  content: "\ue1db";
}

.store:before {
  content: "\ue8d1";
}

.store-mall-directory:before {
  content: "\ue563";
}

.straighten:before {
  content: "\ue41c";
}

.streetview:before {
  content: "\ue56e";
}

.strikethrough-s:before {
  content: "\ue257";
}

.style:before {
  content: "\ue41d";
}

.subdirectory-arrow-left:before {
  content: "\ue5d9";
}

.subdirectory-arrow-right:before {
  content: "\ue5da";
}

.subject:before {
  content: "\ue8d2";
}

.subscriptions:before {
  content: "\ue064";
}

.subtitles:before {
  content: "\ue048";
}

.subway:before {
  content: "\ue56f";
}

.supervisor-account:before {
  content: "\ue8d3";
}

.surround-sound:before {
  content: "\ue049";
}

.swap-calls:before {
  content: "\ue0d7";
}

.swap-horiz:before {
  content: "\ue8d4";
}

.swap-vert:before {
  content: "\ue8d5";
}

.swap-vertical-circle:before {
  content: "\ue8d6";
}

.switch-camera:before {
  content: "\ue41e";
}

.switch-video:before {
  content: "\ue41f";
}

.sync:before {
  content: "\ue627";
}

.sync-disabled:before {
  content: "\ue628";
}

.sync-problem:before {
  content: "\ue629";
}

.system-update:before {
  content: "\ue62a";
}

.system-update-alt:before {
  content: "\ue8d7";
}

.tab:before {
  content: "\ue8d8";
}

.tab-unselected:before {
  content: "\ue8d9";
}

.tablet:before {
  content: "\ue32f";
}

.tablet-android:before {
  content: "\ue330";
}

.tablet-mac:before {
  content: "\ue331";
}

.tag-faces:before {
  content: "\ue420";
}

.tap-and-play:before {
  content: "\ue62b";
}

.terrain:before {
  content: "\ue564";
}

.text-fields:before {
  content: "\ue262";
}

.text-format:before {
  content: "\ue165";
}

.textsms:before {
  content: "\ue0d8";
}

.texture:before {
  content: "\ue421";
}

.theaters:before {
  content: "\ue8da";
}

.thumb-down:before {
  content: "\ue8db";
}

.thumb-up:before {
  content: "\ue8dc";
}

.thumbs-up-down:before {
  content: "\ue8dd";
}

.time-to-leave:before {
  content: "\ue62c";
}

.timelapse:before {
  content: "\ue422";
}

.timeline:before {
  content: "\ue922";
}

.timer:before {
  content: "\ue425";
}

.timer-10:before {
  content: "\ue423";
}

.timer-3:before {
  content: "\ue424";
}

.timer-off:before {
  content: "\ue426";
}

.title:before {
  content: "\ue264";
}

.toc:before {
  content: "\ue8de";
}

.today:before {
  content: "\ue8df";
}

.toll:before {
  content: "\ue8e0";
}

.tonality:before {
  content: "\ue427";
}

.touch-app:before {
  content: "\ue913";
}

.toys:before {
  content: "\ue332";
}

.track-changes:before {
  content: "\ue8e1";
}

.traffic:before {
  content: "\ue565";
}

.train:before {
  content: "\ue570";
}

.tram:before {
  content: "\ue571";
}

.transfer-within-a-station:before {
  content: "\ue572";
}

.transform:before {
  content: "\ue428";
}

.translate:before {
  content: "\ue8e2";
}

.trending-down:before {
  content: "\ue8e3";
}

.trending-flat:before {
  content: "\ue8e4";
}

.trending-up:before {
  content: "\ue8e5";
}

.tune:before {
  content: "\ue429";
}

.turned-in:before {
  content: "\ue8e6";
}

.turned-in-not:before {
  content: "\ue8e7";
}

.tv:before {
  content: "\ue333";
}

.unarchive:before {
  content: "\ue169";
}

.undo:before {
  content: "\ue166";
}

.unfold-less:before {
  content: "\ue5d6";
}

.unfold-more:before {
  content: "\ue5d7";
}

.update:before {
  content: "\ue923";
}

.usb:before {
  content: "\ue1e0";
}

.verified-user:before {
  content: "\ue8e8";
}

.vertical-align-bottom:before {
  content: "\ue258";
}

.vertical-align-center:before {
  content: "\ue259";
}

.vertical-align-top:before {
  content: "\ue25a";
}

.vibration:before {
  content: "\ue62d";
}

.video-call:before {
  content: "\ue070";
}

.video-label:before {
  content: "\ue071";
}

.video-library:before {
  content: "\ue04a";
}

.videocam:before {
  content: "\ue04b";
}

.videocam-off:before {
  content: "\ue04c";
}

.videogame-asset:before {
  content: "\ue338";
}

.view-agenda:before {
  content: "\ue8e9";
}

.view-array:before {
  content: "\ue8ea";
}

.view-carousel:before {
  content: "\ue8eb";
}

.view-column:before {
  content: "\ue8ec";
}

.view-comfy:before {
  content: "\ue42a";
}

.view-compact:before {
  content: "\ue42b";
}

.view-day:before {
  content: "\ue8ed";
}

.view-headline:before {
  content: "\ue8ee";
}

.view-list:before {
  content: "\ue8ef";
}

.view-module:before {
  content: "\ue8f0";
}

.view-quilt:before {
  content: "\ue8f1";
}

.view-stream:before {
  content: "\ue8f2";
}

.view-week:before {
  content: "\ue8f3";
}

.vignette:before {
  content: "\ue435";
}

.visibility:before {
  content: "\ue8f4";
}

.visibility-off:before {
  content: "\ue8f5";
}

.voice-chat:before {
  content: "\ue62e";
}

.voicemail:before {
  content: "\ue0d9";
}

.volume-down:before {
  content: "\ue04d";
}

.volume-mute:before {
  content: "\ue04e";
}

.volume-off:before {
  content: "\ue04f";
}

.volume-up:before {
  content: "\ue050";
}

.vpn-key:before {
  content: "\ue0da";
}

.vpn-lock:before {
  content: "\ue62f";
}

.wallpaper:before {
  content: "\ue1bc";
}

.warning:before {
  content: "\ue002";
}

.watch:before {
  content: "\ue334";
}

.watch-later:before {
  content: "\ue924";
}

.wb-auto:before {
  content: "\ue42c";
}

.wb-cloudy:before {
  content: "\ue42d";
}

.wb-incandescent:before {
  content: "\ue42e";
}

.wb-iridescent:before {
  content: "\ue436";
}

.wb-sunny:before {
  content: "\ue430";
}

.wc:before {
  content: "\ue63d";
}

.web:before {
  content: "\ue051";
}

.web-asset:before {
  content: "\ue069";
}

.weekend:before {
  content: "\ue16b";
}

.whatshot:before {
  content: "\ue80e";
}

.widgets:before {
  content: "\ue1bd";
}

.wifi:before {
  content: "\ue63e";
}

.wifi-lock:before {
  content: "\ue1e1";
}

.wifi-tethering:before {
  content: "\ue1e2";
}

.work:before {
  content: "\ue8f9";
}

.wrap-text:before {
  content: "\ue25b";
}

.youtube-searched-for:before {
  content: "\ue8fa";
}

.zoom-in:before {
  content: "\ue8ff";
}

.zoom-out:before {
  content: "\ue900";
}

.zoom-out-map:before {
  content: "\ue56b";
}